<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidapplicationtest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_custom_large"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_custom_large_round"
        android:supportsRtl="true">

        <!-- Splash Activity -->
        <activity
            android:name=".splashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".mainActivity"
            android:exported="true"
            android:theme="@style/Theme.primaryTheme">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Settings Activity -->
        <activity
            android:name=".settingActivity"
            android:label="Settings" />

        <!-- Select Games Activity -->
        <activity android:name=".selectGamesActivity" />

        <!-- Staff Members Activity -->
        <activity android:name=".staffMembersActivity" />

        <!-- Guess Game (Game 1) Activity -->
        <activity
            android:name=".doubleRPSGameActivity"
            android:label="Double Rock-paper-scissors" />

        <!-- Finger (Game 2) Activity -->
        <activity android:name=".fingerGameActivity"
            android:label="Finer" />

        <!-- Double Bear Game (Game 3) Activity -->
        <activity android:name=".doubleBearGameActivity"
            android:label="Double Bear" />

        <!-- Background Music Play IntentService for Game1 -->
        <service
            android:name=".backgroundMusicPlayIntentService"
            android:exported="false" />

        <!-- Message Board Activity -->
        <activity
            android:name=".messageBoardActivity"
            android:label="Message Board" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>